.info {
    padding: 0 1rem;
}

.info__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    text-align: center;
}

.info__top > .title {
    color: #045762;
    font-size: 34px;
    margin-bottom: 1rem;
    font-weight: 800;
    font-family: 'Concert One', cursive;
}

.info__top > .sub-title {
    font-size: 20px;
    color: #00587a;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.info__bottom {
    display: flex;
    justify-content: center;
    text-align: center;
}

.info__bottom > p {
    font-family: 'Concert One', cursive;
    font-size: 24px;
    color: #0f3057;
    line-height: 1;
}

.info__bottom > p > span {
    color: #0f3057;
}