.app {
  background-color: #dddddd;
  width: 70%;
  margin: 2rem auto;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 4rem 0;
}

.app:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}